@model IEnumerable<StarWarsUI.Models.StarshipViewModel>

@{
    Layout = "_Layout"; ViewBag.Title = "All Planets";
}

<h2>Starships</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consumables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumables)
            </td>
                <td>
                    @Html.ActionLink("Film", "Index", "Film", new { item.Films })
                </td>
        </tr>
}
    </tbody>
</table>
